body{
  background-color: slateblue;
  color: #eee;
}

main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color:antiquewhite;
  border:0;
  display:inline-block;
  width:100px;
}

button.with-text{
  width: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

:root{
  --red: #F6546A;
  --green: #B4EEB4;
}

label{
  display:block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

















/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
